body {
  color: #474747;
  padding-top: 5rem;
}
.profile_pic {
  margin-left: 75px;
  border-radius: 50%;
  border: 20px solid #efefef;
  height: 100%;
  width: 65%;
}
html {
  scroll-behavior: smooth;
}

#navtextBlack {
  color: #474747;
}

#navtextBlack:hover {
  color: #50dcc5;
}

#navtextBlack:active {
  color: #50dcc5;
}

#helloIm {
  background-color: #50dcc5;
  border-radius: 20px 20px 20px 0px;
}

#socialBox {
  color: #313131;
  padding: 10px 15px 10px 15px;
}

#socialBox:hover {
  color: #50dcc5;
  background-color: #313131;
  border-radius: 5px;
}

#downloadCV {
  color: white;
  background-color: #50dcc5;
  border-radius: 30px;
  font-weight: bold;
}

#projectscard {
  min-height: 295px;
}

#projectscard2 {
  min-height: 320px;
}
@media (min-width: 992px) {
  body {
    color: #474747;
    padding-top: 6rem;
  }
  .mt150 {
    margin-top: 150px;
  }
  .mt125 {
    margin-top: 125px;
  }
  .mt200 {
    margin-top: 200px;
  }
  .mt225 {
    margin-top: 225px;
  }
  .mt240 {
    margin-top: 240px;
  }
}
@media (max-width: 576px) {
  .mt50 {
    margin-top: 50px;
  }
  .profile_pic {
    margin-left: 62px;
    border-radius: 50%;
    border: 20px solid #efefef;
    height: 100%;
    width: 65%;
  }
}
